
.label {
  -fx-font-size: 16px;
  -fx-font-weight: bold;
  -fx-text-fill: #0000C0;
  -fx-alignment: center-right;
}

.text-field {
  -fx-font-size: 16px;
  -fx-font-weight: bold;
  -fx-text-fill: #000000;
  -fx-alignment: center-left;
}

.button {
  -fx-font-size: 16px;
  -fx-font-weight: bold;
  -fx-text-fill: #C00000;
  -fx-min-width: 200;
}

.text-area {
  -fx-font-family: monospace;
  -fx-font-size: 12px;
}

#TopBox {
	-fx-alignment: center;
	-fx-spacing: 5px;
}

#BottomBox {
	-fx-alignment: center;
	-fx-spacing: 5px;
}

#IP {
	-fx-pref-width: 200px;
}

#Port {
	-fx-pref-width: 100px;
}

.menu .label {
  -fx-font-size: 12px;
  -fx-font-weight: bold;
  -fx-text-fill: #800080;
  -fx-border-width: 0px;
}

.valid {
  -fx-text-fill: green;
}

.invalid {
  -fx-text-fill: red;
}

.lblFooter {
	-fx-font-size: 10px;
	-fx-text-fill: black;
}

.display {
	-fx-font-size: 16px;
	-fx-text-fill: black;
    -fx-label-padding: 2em 0em 2em 2em;

}


